#index(data-role='page')
  div(data-role='header', data-theme='a')
    a(data-role='button', data-transition='fade',href='#todo',data-icon='plus',data-iconpos='left',class='ui-btn-right') Add
    h1 Todo List

  div(data-role='content', stule='padding: 15px')
    ul#todoitems(data-role='listview', data-divider-theme='e', data-inset='true')
      li(data-role='list-divider',role='heading') List of todos in the system
      - if(typeof todos !== 'undefined')
       - for todo in todos
        li(data-theme='c'): a(href='#todo',data-transition='slide') #{todo.content}

  div(data-role='footer')
    h4 Sample todo-list by truepattern

